@import 'nib'

body
  background white

#contacts
  padding-top: 50px
  padding-bottom: 50px

.contact-container
  box-sizing: border-box
  padding: 20px
  background: hsl(0, 0%, 99%)
  background-image linear-gradient(top, hsl(0, 0%, 98%), hsl(0, 0%, 95%))
  border: 1px solid hsl(0, 0%, 80%)
