<form action="#" class="nice">
    <input type="file" class="input-text" name="photo" value="<%= photo %>" />
    <input type="text" class="name input-text" name="name" value="<%= name %>" />
    <input id="type" type="hidden" name="type" value="<%= type %>" />
    <input class="address input-text" name="address" type="text" value="<%= address %>" />
    <input class="tel input-text" type="text" name="tel" value="<%= tel %>" />
    <input class="email input-text" type="text" name="email" value="<%= email %>" />
    <button class="save button green radius nice">Save</button>
    <button class="cancel">Cancel</button>
</form>
